################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheRace/obj
/TheRace/bin/Debug/netcoreapp3.1
/TheRace.Tests/bin/Debug/netcoreapp3.1
/TheRace.Tests/obj/Debug/netcoreapp3.1
/TheRace.Tests/obj
